#formContainer{
    display: flex;
    justify-content: center;
    margin: 100px auto;
}
#formDiv{
    background-image: url("../images/washi.webp");
    background-repeat: repeat;
    padding: 50px;
    border-radius: 15px;
}
#petOwnerRegister, #loginForm, #petRegister, #vetVisitRegister, #vetRegister {
    background: rgba(19, 35, 47, 0.82);
    padding: 40px;
    margin: 40px auto;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

#login h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

#signup h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}
