#petOwnerRegister {
    background: rgba(19, 35, 47, 0.82);
    padding: 40px;
    margin: 40px auto;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

#vetRegister {
    background: rgba(19, 35, 47, 0.82);
    padding: 40px;
    margin: 39px auto;
    border-radius: 4px;
    -webkit-box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.tab-group li a:hover {
    background: #FE8256;
    color: #ffffff;
}
.tab-group .active a {
    background: #F49476;
    color: #ffffff;
}
.tab-content > div:last-child {
    display: none;
}

#login h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

#signup h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}

input[type=text],input[type=password],input[type=email] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.button-block {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600!important;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #F49476!important;
    color: #ffffff!important;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.button-block:hover, .button-block:focus {
    background: #FE8256!important;
}

.button-block {
    display: block;
    width: 100%;
}

/*checkbox*/
input[type=checkbox].toggle-switch {
    margin-left: 0 !important;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 3em;
    height: 1.5em;
    border-radius: 3em;
    background-color: rgba(160, 179, 176, 0.25);
    outline: 0;
    cursor: pointer;
    transition: background-color 0.09s ease-in-out;
    position: relative;
}

input[type=checkbox].toggle-switch:checked {
    background-color: #F49476;
}

input[type=checkbox].toggle-switch::after {
    content: '';
    width: 1.5em;
    height: 1.5em;
    background-color: rgba(160, 179, 176, 0.25);
    border-radius: 3em;
    position: absolute;
    transform: scale(0.7);
    left: 0;
    transition: left 0.09s ease-in-out;
    box-shadow: 0 0.1em rgba(0, 0, 0, 0.5);
}

input[type=checkbox].toggle-switch:checked::after {
    left: 1.5em;
}

.row {
    margin: 0!important;
}